<div class="jumbotron">
  <h1>Happy Holidays!</h1>
  <p>Dedicated to spreading the best in holiday cheer.  Find some of the best displays in your area or anywhere, and submit favorites as you find them.</p>
  <p><%= link_to 'Submit new display', new_light_display_path, :class => "btn btn-primary btn-lg" %></p>
</div>

<div id="displays" class="transitions-enabled">
    <% @light_displays.each do |light_display| %>
				<div class="display panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title"><%= link_to light_display.name, light_display %></h3>
				  </div>
						<% if light_display.top_image %>
							<%= image_tag light_display.top_image.photo.url %>
						<% else %>
							<i class="fa fa-file-image-o fa-5x"></i>
						<% end %>
						<div class="panel-footer"><%= light_display.description %></div>			
				</div>
    <% end %>
</div>